body {
    font-family:'Poppins',sans-serif;
    margin:0;
    background-color:aliceblue(244,246,251);
    color: black(51,51,51);

}
nav {
    background-color: aliceblue(0,51,153);
    padding: 10px 0;
    text-align: center;

}
nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 20px;
    

}